.carousel {
    position: relative;
    width: 100%;
    max-width: 600px;
    aspect-ratio: 3 / 2;
    margin: 0 auto;
}

.carousel-track-container {
    position: relative;
    height: 100%;
    overflow: hidden;
}

.carousel-track {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
    transition: transform 250ms ease-in;
}

.carousel-slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.carousel-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) scale(2.5);
    background: transparent;
    border: none;
    cursor: pointer;
    filter: invert(1) drop-shadow(0 0 4px black);
}

@media (min-width: 900px) {
    .carousel-button-left {
        left: -55px;
    }

    .carousel-button-right {
        right: -55px;
    }
}

.carousel-button img {
    width: 20px;
}

.carousel-nav {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.carousel-indicator {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: none;
    margin: 0 6px;
    background: rgba(0,0,0,.4);
    cursor: pointer;
}

.carousel-indicator.current-slide {
    background: rgba(0,0,0,.9);
}

.is-hidden { display: none; }

@media (max-width: 900px) {
  .carousel-button {
    display: none;
  }
}